.showRatingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.showRatingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.7rem;
  max-width: 18rem;
}

.thank {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-bottom: 0.2rem;
}

.thank > h2 {
  color: var(--White);
  text-align: center;
}

.thank > p {
  color: var(--MediumGrey);
  text-align: center;
}

.capsule {
  border-radius: 2rem;
  background-color: var(--DarkBlue);
  width: fit-content;
  padding: 0.5rem 0.7rem 0.3rem 0.7rem;
  color: var(--Orange);
  display: flex;
  justify-content: center;
  align-items: center;
}
